# Tweets Scrapping
### Steps
1. Set up tweepy authentication
2. Search Tweets
3. Append tweets info to a pandas dataframe

### Set up tweepy authentication

In [1]:
import tweepy
from tweepy import OAuthHandler
from tweepy import API
import pandas as pd

# Consumer key authentication

api_key = 'zVCkUaVBASfQEqsDihlOXPk37'
api_key_secret = 'xEkxJOwfM5MvPINloFL3hDdVvyK0qRXAtFHcW4sgW4Wfet3iiR'
auth = OAuthHandler(api_key, api_key_secret)

access_token = '1456751370787115010-4cT91Wo3dfjFnoZmvjsF6ynBtabU2p'
access_token_secret = 'JRIPj8i5SynqHL1ROK8qujuzidNZQrMVJKQV13Pkp2hDJ'

# Access key authentication

auth.set_access_token(access_token, access_token_secret)

# Set up the API with the authentication handler
api = API(auth)

### Search Tweets

In [2]:
keywords = ['marriott']
limit=300
tweets = tweepy.Cursor(api.search,
                       q=keywords,
                       count=100,
                       tweet_mode='extended',
                       lang='en').items(limit)

### Append tweets info to a pandas dataframe

In [3]:
columns = ['User','Time','Text']
data = []
for tweet in tweets:
    if not tweet.retweeted and 'RT @' not in tweet.full_text:
        data.append([tweet.user.screen_name,tweet.created_at,tweet.full_text])
marriott_tweets = pd.DataFrame(data,columns=columns)
marriott_tweets.shape

(142, 3)

We got 144 tweets containing the keyword 'marriott'.

In [4]:
marriott_tweets.head()

,User,Time,Text
0,Srinath_Dhilsan,2022-03-09 01:37:42,IPL 2022 Team Hotels:\n\nCSK - Trident Nariman...
1,MBonvoyAssist,2022-03-09 01:34:32,"@GreiweJessica Hi Jessica, usually Points are ..."
2,BruceCashbaugh,2022-03-09 01:32:57,@MBonvoyAssist This is a rare time I’m not at ...
3,lawbreakerlegal,2022-03-09 01:32:46,@tedcruz So … will you be speaking at this yea...
4,ghs158,2022-03-09 01:32:44,Accor\nAmerisourceBergen\nArconic\nBridgestone...

In [5]:
marriott_tweets.to_csv('/Users/cynding/Desktop/Brandeis 2021 Fall/BUS 256A - Marketing Analytics/final project/marriott_tweets.csv')