### Steps
1. Set up tweepy authentication
2. Search Tweets
3. Append tweets info to a pandas dataframe

### Set up tweepy authentication

In [1]:
import tweepy
from tweepy import OAuthHandler
from tweepy import API
import pandas as pd

# Consumer key authentication

api_key = 'zVCkUaVBASfQEqsDihlOXPk37'
api_key_secret = 'xEkxJOwfM5MvPINloFL3hDdVvyK0qRXAtFHcW4sgW4Wfet3iiR'
auth = OAuthHandler(api_key, api_key_secret)

access_token = '1456751370787115010-4cT91Wo3dfjFnoZmvjsF6ynBtabU2p'
access_token_secret = 'JRIPj8i5SynqHL1ROK8qujuzidNZQrMVJKQV13Pkp2hDJ'

# Access key authentication
auth.set_access_token(access_token, access_token_secret)

# Set up the API with the authentication handler
api = API(auth)

### Search Tweets

In [2]:
keywords = ['marriott',' hotel']
limit = 1000
tweets = tweepy.Cursor(api.search,
                       q=keywords,
                       count=100,
                       tweet_mode='extended',
                       since='2021-01-01',
                       lang='en').items(limit)

### Append tweets info to a pandas dataframe

In [3]:
columns = ['User','Time','Text']
data = []
for tweet in tweets:
    if not tweet.retweeted and 'RT @' not in tweet.full_text:
        data.append([tweet.user.screen_name,tweet.created_at,tweet.full_text])
marriott_tweets = pd.DataFrame(data,columns=columns)
print(marriott_tweets.shape)

(330, 3)

We got 688 tweets containing the keywords of 'marriott' and 'hotel'.

In [4]:
marriott_tweets.head()

,User,Time,Text
0,famtasticrocks,2022-02-16 17:30:16,#FamtasticNews #EventProfs #NewHotels\nA new 1...
1,rakealito,2022-02-16 17:28:01,@tinaintheburbs @KielyforOregon @AndrewDamitio...
2,NewRoPatch,2022-02-16 17:24:01,"The suspect was ""Bonvoyed"" after the Marriott ..."
3,FreezyRaul,2022-02-16 17:22:29,@BerryNiceCards @RyansCardssLLC I would highly...
4,AdeyemiSijuwade,2022-02-16 17:13:42,@Irebamiolakanm1 Marriott na one bad Hotel laidat

In [5]:
marriott_tweets.to_csv('/Users/cynding/Desktop/Brandeis 2021 Fall/BUS 256A - Marketing Analytics/final project/marriott_tweets.csv')